.App {
  min-height: 100vh;
}

@media print {
  .no-print {
    display: none !important;
  }

  /* better full-bleed photo pages */
  @page {
    margin: 0;
  }

  img {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
